[Unit]
Description=Citadel

[Service]
ExecStart=/path/to/executable
Restart=always
WorkingDirectory=/path/to/config/files

[Install]
WantedBy=multi-user.target
